body {
  background-color: #121212;
  color: #cacaca;
}

.square {
  width: 150px;
  height: 150px;
  border-color: #121212;
  border-width: 5px;
  font-size: 30px;
  border-radius: 20%;
  background: white;
}

.content {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.top-buttons {
  display: flex;
  justify-content: center;
}
